.menuselect {
    display: inline-block;
}

.menuselect .titre {
    /* margin: 5px; */
    padding-left: 5px;
    padding-right: 5px;
}

.menuselect .content {
    position: absolute;
    visibility: hidden;
    background-color: rgb(242, 242, 242);
    padding: 20px;
    z-index: 100000;
    border-radius: 5px;
    border: 2px solid gainsboro;
    box-shadow: 5px 5px 5px rgb(235, 235, 235);
}

.menuselect .content div {
    padding-top: 2px;
    padding-bottom: 2px;
}

.menuselect .content div:hover {
    background-color: gainsboro;
}

.menuselect label {
    width: 100%;
    font-size: 110%;
    display: inline;
    margin-left: 5px;
}

.menuselect input {
    transform: scale(1.2);
  padding: 10px;
}